@{
    ViewData["Title"] = "Home Page";
}

<h1>Netsflix, donde la diversion nunca termina! </h1>
@foreach (Series serie in ViewBag.listaSeries)
{
    <div class="card" style="width: 18rem;">
    <img src="@serie.ImagenSerie" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@serie.Nombre</h5>
        <p class="card-text">@serie.Sinopsis</p>
        <button type="button" class = "btn btn-primary" data-toggle="modal"  data-target= "#modalSerie" onclick="infoSerie(@serie.IdSerie)">Ver Info Serie</button>
    </div>
    </div>

}
    <div class="text-center">

   <div class="modal fade" id="modalSerie" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="IdActor"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</div>









